# Thư mục node_modules
node_modules/

# Build output
dist/
build/

# File môi trường
.env
.env.local

# Log files
*.log

# Hệ thống
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.qodo/

# Dependency lock files nếu không cần thiết
package-lock.json
yarn.lock
