# NODE_ENV=production
NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/taphoaso
JWT_SECRET=TapHoaSo@2025

# Email configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
MAILER_NAME=Tạp Hoá Số
EMAIL=taphoaso0@gmail.com
SMTP_PASSWORD=yihe pjst pkkg hkvd

#VNPAY
VNP_TMN_CODE= 1
VNP_HASH_SECRET=2
VNP_URL=3
VNP_RETURN_URL=4
VNP_API=5