# NODE_ENV=production
NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/taphoaso
JWT_SECRET=TapHoaSo@2025
JWT_EXPIRES_IN=7d

MAX_FILE_SIZE=5242880               # 5MB in bytes (minimum 1024 bytes)
UPLOAD_PATH=./public/uploads

#Auth
ACCESS_TOKEN_EXPIRES_IN=10m
REFRESH_TOKEN_EXPIRES_IN=2d
RESET_PASSWORD_TOKEN_EXPIRES_IN=15m
TOKEN_REFRESH_THRESHOLD_MINUTES=15
PASSWORD_MIN_LENGTH=6
MAX_LOGIN_ATTEMPTS=5
LOGIN_LOCKOUT_DURATION=15
FRONTEND_URL=http://localhost:5173  
BASE_URL=http://localhost:3000    

# Email configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
MAILER_NAME=Tạp Hoá Số
SMTP_USER=taphoaso0@gmail.com
SMTP_PASS=

# VNPAY
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/checkout/payment/waiting
VNP_IPN_URL=http://localhost:5173/test/modal
VNP_API=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction

VIETMAP_API_KEY=